<!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information. -->
<h1>My messages</h1>
<table>
  <tr>
    <th>From</th>
    <th>Subject</th>
    <th>Received</th>
  </tr>
  <% @messages.each do |message| %>
    <tr>
      <td><%= message['From']['EmailAddress']['Name'] %></td>
      <td><%= message['Subject'] %></td>
      <td><%= message['ReceivedDateTime'] %></td>
    </tr>
  <% end %>
</table>