<!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information. -->
<h1>My contacts</h1>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </tr>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact['GivenName'] %></td>
      <td><%= contact['Surname'] %></td>
      <td><%= contact['EmailAddresses'][0]['Address'] %></td>
    </tr>
  <% end %>
</table>